- def bug_link(no)
  - '[<a href="http://metaz.lighthouseapp.com/projects/43700/tickets/' + no.to_s + '">' + no.to_s + "</a>]"
<html>
%head
  %meta(http-equiv="content-type" content="text/html; charset=UTF-8")
  %title>What's new in MetaZ
  %link(href="main.css" type="text/css" rel="stylesheet")
  :css
    body {
      font-size: 11px;
    }
    table {
      width: 100%;
      font-size: 14px;
      border:1px dashed #CCC;
    }
    .table .header,
    table .header
     {
      background-color: #4DBD02;
    }
    table .contents
     {
      font-size: 11px;
    }
    
%body
  %table
    %tr
      %td.header
        %a(name="version-1.0a7")
          %b Changes in version 1.0a7
    %tr.contents
      %td
        %p Fixed problem with empty tagchimp result causing a crash
  %table
    %tr
      %td.header
        %a(name="version-1.0a6")
          %b Changes in version 1.0a6
    %tr.contents
      %td
        %p After a long wait finally a new version is ready for test.
        %p
          We have fixed a great number of bugs and made lots of little improvements but the biggest two things
          are: the addition of a plugin for searching 
          %a(href="http://www.thetvdb.com/") TheTVDB
          and that loading of files is now done asynchronous with a progress indicator.

        %p The complete list of changes are:
        %ul
          %li Fixed bug so that when keeping temporary file used when writing a move error doesn't occur
          %li Fixed bug so that now a queue item is marked as completed even when move or remove of temp file fails
          %li Fixed bug dock icon progressbar hidden state
          %li Added a whitespace to save temp file name
          %li Changed program output logging to only occur when actual output is generated
          %li Made credits file for about box and added copyright for Nigel
          %li Changed log so that system exceptions also end up there and improved the output format
          %li Made controller actually call didLoad and willUnload in MZPlugin
          %li Fixed small memory leak in AmazonSearchProvider
          %li Added release notes link, homepage link, send feedback item (that doesn't work) and view log to help menu
          %li Fixed exception in SearchMeta dealloc
          %li Made asynchronous loader
          %li Removed all windows from window list
          %li Fixed the static window list
          %li Made code remove year from end of filename before using it as title
          %li Made APWriteManager progress parsing more robust
          %li Started removing episode from tagChimp search result when there is no season number and episode is 0 to compensate for tagChimp bug
          %li Made read-only / pseudo tags like chapter names raise an exception when being set
          %li Fixed apply result chapter name bug
          %li Began parsing more of the ratings gotten from Amazon #{bug_link(14)}
          %li Redirected stdout to log file
          %li Changed hasChapters in MZSearchResult to return NSMultipleValuesMarker when there are only chapter names
          %li Added program name to program debug output
          %li Disabled title in default tv show search profile
          %li Removed search update delay
          %li Added full keypath support to NSUserDefaults
          %li Added key and keypath getters with default value to NSUserDefaults
          %li Fixed Search profile enable preferences bug
          %li Added track and disc read/write capability to AtomicParsley plugin #{bug_link(8)}
          %li Added preference for disabling automatic search #{bug_link(4)}
          %li Fixed 'Writing fails when setting non-string tags to nil' #{bug_link(16)}
          %li Added tool tip for enable auto-search preference
          %li Forced editing to be confirmed when loading a new file #{bug_link(7)}
          %li Made program wait for queue cancel to finish before terminating #{bug_link(3)}
          %li Updated build instructions and changed project so git doesn't have to be installed in /opt/local/bin
          %li Made some of MZTag thread-safe
          %li Moved logging defines to MZLogger.h
          %li Added a NSTask wrapper that extends NSOperation
          %li Changed some code to use CFBundle instead of NSBundle because of thread safety
          %li Made Amazon search perform a bit more like tagChimp search
          %li Added title back to default search terms for tv shows
          %li Made plugin load api async
          %li Added load and save NSOperationQueue's to PluginController
          %li Added output parse task class
          %li Added class that can control multiple NSOperation objects
          %li Changed AtomicParsley plugin to use async loading
          %li Renamed MZDataWriteController to MZDataController
          %li Added progress indicator for loading
          %li Refactored the write process to use NSTaskOperations
          %li Replaced all calls to NSFileManager defaultManager with one that creates a new NSFileManager
          %li Moved the responsibility of removing the temp file from plugin to MZWriteQueueStatus
          %li Moved APReadOperationController to framework
          %li Made plugin for TheTVDB #{bug_link(1)}
          %li Changed how headers are found so there can be two with name Access.h
          %li Changed a lot of header references from quoted form to angle-bracket form
          %li Stopped PosterView from beeping when pressing enter is a valid key stroke
          %li Added tag definitions for IMDB, ASIN, dvd season and dvd episode
          %li Renamed isFinished and isExecuting properties to finished and executing respectively
          %li Made finished and executing also send change notifications for "isFinished" and "isExecuting" since NSOperation dependencies uses these
          %li Added search queue to plugin controller
          %li Split MZRESTSearch into classes MZRESTOperation, MZRESTSearch and MZRESTSearchResult
          %li Added statusCode property to REST wrapper so we can ignore data when not relevant
          %li Removed non working code that scheduled REST wrapper on main runloop and made code always send request from main thread
          %li Made accessing the operations queue for MZRemoteData thread-safe
          %li Reordered code for AtomicParsley data read operations so they now are in sequence
          %li Deleted a lot of unused code en TCSearch
          %li Made loadData call in MZRemoteData detect and always start the load en on the main thread
          %li Added links to Lighthouse to the help menu
          %li Stopped using copies of strings for url encoding in rest wrapper
          %li Added plugin enable/disable functionality and put UI for it in preferences
          %li Added bundle property to MZPlugin
          %li Fixed small problem in plugin label where TheTVDB got the label "TheTVD B"
          %li Removed delete button from plugins preferences
          %li Changed initialize methods to work the right way
          %li Added some more debug log statements for searches
          %li Added call waitUntilFinished to MZOperationsController and MZRESTOperation
          %li Fixed race condition in search were controller was released before search completed
          %li Fixed bug in apply search result where chapter name is always set
          %li Fixed bug where queue run did not finish properly
          %li Changed mp4chaps to not fail when removing non-existing chapters from file
          %li Fixed bug where empty chapters array made write fail
          %li Added preference to specify what to do when put in trash fails
          %li Default to keeping the old file for above preference
          %li Changed keep functionality to rename the old file to filename+" Backup" so it's out of the way and we can rename the new file
          %li Reversed button positions for prompt alert for put in trash so that keep is the default option
          %li Added debug output to print command and arguments for all tasks
          %li Fixed trackNum bug so that now the episode no is actually written to track num
          %li Fixed bug where cancel was not handled properly in writing operations
          %li Added an artist value for TheTVDB results that contains the show name
          %li Moved loading of NSUserDefaults factory settings to main to fix MZWriteQueue initialization
          %li Fixed race condition in search plugins when canceling old search
          %li Improved response time in UI when selecting next or previous file in list and auto-search is enabled
          %li Fixed bug in the write cleanup code that caused file to not be moved to its final location when move to trash succeeded
  %table
    %tr
      %td.header <a name="version-1.0a5"><b>Changes in version 1.0a5</b></a>
    %tr.contents
      <td>  
      %p Made the following changes:
      %ul
        %li Chapter copy/paste
        %li Progressbar on dock icon
        %li Termination confirmations
        %li Added a great deal of keyboard shortcuts
  %table
    %tr
      %td.header <a name="version-0.8a"><b>Changes in version 0.8a</b></a>
    %tr.contents
      <td>  
      %p Made the following changes:
      %ul
        %li Growl notifications
        %li Undo in presets panel
        %li Undo for multiple file selection
        %li Added a full search result apply as proposed by Kevin Pratt
        %li Fixed support for 64 bit MPEG4 files
        %li Better error messages
        %li Fixed leopard support

  %table
    %tr
      %td.header
        %a(name="version-0.7a")
          %b Changes in version 0.7a
    %tr.contents
      %td
        %p The new and improved version now with Amazon US searching.
        %p Also made the following changes:
        %ul
          %li Changed search profiles so that title can be disabled like other search terms
          %li Fixed the MetaX presets video type import bug and added code to correct already imported presets
          %li Fixed x64 empty rating bug

  %table
    %tr
      %td.header
        %a(name="version-0.6a")
          %b Changes in version 0.6a
    %tr.contents
      %td
        %p Fixed critical queue stopping bug.

  %table
    %tr
      %td.header
        %a(name="version-0.5a")
          %b Changes in version 0.5a
    %tr.contents
      %td
        %p This is a minor update that fixes a few bugs and improves the UI.
        %ul
          %li Fixed a few bugs with rating and genre handling
          %li Fixed date reading both from AtomicParsley and TagChimp
          %li Cleaned up write queue and improved ui for status of tag write
  
  %table
    %tr
      %td.header
        %a(name="version-0.4a")
          %b Changes in version 0.4a
    %tr.contents
      %td
        %p Lots of changes but to mention a few:
        %ul
          %li TagChimp searching
          %li Presets
          %li Chapter writing
          %li Preferences
          %li Ratings
          %li Genre

  %table
    %tr
      %td.header
        %a(name="version-0.3a")
          %b Changes in version 0.3a
    %tr.contents
      %td
        %p Implemented write queue UI, drag &amp; drop, paste and services in files table.

  %table
    %tr
      %td.header
        %a(name="version-0.2a")
          %b Changes in version 0.2a
    %tr.contents
      %td
        %p Version 2 for test of Sparkle update

  %table
    %tr
      %td.header
        %a(name="version-0.1a")
          %b Changes in version 0.1a
    %tr.contents
      %td
        %p Version for test of Sparkle update

</html>